## Folder view configuration files
.DS_Store

## CocoaPods
Pods/
!Podfile.lock

## Carthage
Carthage/
!Cartfile.resolved

## Rubygems
!Gemfile.lock

## OS X temporary files that should never be committed
*.swp
*.lock

## Xcode build files
DerivedData/
/build/

## Xcode semi-personal settings, often included in workspaces
xcuserdata/
*.xccheckout
